fugashi==1.2.1
ipadic==1.0.0
ipykernel==6.22.0
ipython==8.11.0
ipywidgets==8.0.4
mecab-python3==1.0.6
numpy==1.24.2
seaborn==0.12.2
snscrape==0.6.2.20230320
statsmodels==0.13.5
torch==2.0.0
transformers==4.27.2
